<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="POST" action="/users/profile">
				<label for="email">Usuario:</label>
				<input type="email" id="email" name="email" required>
				<br>
				<br>
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" required>
				<br>
				<br>
				<input type="checkbox" id="rememberme" name="rememberme">
				<label for="rememberMe">Recordame</label>
				<br>
				<br>
		        <input type="submit" value="Login">
			 
	
		 </form> 


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>