<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> <form method="get" action="/users/profile">
				<label for="email">Usuario:</label>
				<input type="email" id="email" name="email" required>
				<br>
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" required>
				<br>
				<input type="checkbox" id="rememberme" name="rememberme">
				<label for="rememberMe">Recordame</label>
				<br>
				<input type="submit" value="InicioDesesión">

				<input type="submit" value="Login">
			 
	
		 </form> <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>