<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado', {username: usuario.usuario}) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <br> <form action="/productadd" method="get">

                                       <label for="Image">Imagen:</label>
									   <input type="file" id="image" name="Image" required>

									   <label for="NombreProduct">Nombre del Producto:</label>
									   <input type="text" id="NombreProduct" name="NombreProduct" required>

									   <label for="Descripcion">Descripcion :</label>
									   <input type="text" id="Descrpcion" name="Descripcion" required>

									   <label for="FechaDeCarga">Fecha: </label>
									   <input type="date" id="FechaDeCarga" name="FechaDeCarga" required>
									   
									   <input type="submit" value="Agregar productos">

									   

									
									  






			</form> <br>
			


	<!-- footer -->
    <%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>