<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado', {username: usuario.usuario}) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i> <br><form action="/profile" method="get">

				<label for="email">Mail/Correo electronico:</label>
				<input type="email" id="email" name="email" required>
                <br>
				<label for="Usuario">Usuario:</label>
				<input type="text" id="usuario" name="usuario" required>
				<br>

				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" required>
				<br>

				<label for="DateOfBirth">Fecha de Nacimiento</label>
				<input type="date" id="DateOfBirth" name="DateOfBirth" required>
				<br>

				<label for="NumeroDoc">D.N.I</label>
				<input type="number" id="NumeroDoc" name="NumeroDoc">
				<br>

				<label for="FotoDePerfil">Foto de Perfil</label>
				<input type="text" name="FotoDePerfil" id="FotoDePerfil" required>
				<br>

				<input type="submit" value="Actualizar Mis datos">

			  </form> <br>
			
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>