<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<Header >
		<%- include('partials/header') %>
	

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">REGISTRATE</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i><br>
				 <form action="/users/login" method="POST">
					 <label for="email">Mail/Correo electronico:</label>
					 <input type="email" id="email" name="email" required>
					 <br>
					 <br>

					 <label for="Usuario">Usuario: </label>
					 <input type="text" id="usuario" name="usuario" required>
					 <br>
					 <br>

					 <label for="password">Contraseña: </label>
					 <input type="password" id="password" name="password" required>
					 <br>
					 <br>

					 <label for="DateOfBirth">Fecha de Nacimiento:</label>
					 <input type="date" id="DateOfBirth" name="DateOfBirth" required>
					 <br>
					 <br>

					 <label for="NumeroDoc">D.N.I:</label>
					 <input type="number" id="NumeroDoc" name="NumeroDoc">
					 <br>
					 <br>

					 <label for="FotoDePerfil">Foto de Perfil:</label>
					 <input type="text" name="FotoDePerfil" id="FotoDePerfil" required>
					 <br>
					 <br>

					 <input type="submit" value="Registrate">

					 
				 
				</form>

			
				 

				 <br>
			</i> <br>
			</h2>


	<footer>
		<p>Benjamin Arrambide - Ignacio Skinner - Tomas Taylor</p>

	</footer>
		
	
</body>

</html>

